
USER_DATABASE_URL="postgresql+asyncpg://postgres:pass@localhost:5432/user_service"

SECRET_KEY="change-this-to-a-long-random-secret"
ACCESS_TOKEN_EXPIRE_MINUTE=60
ALGORITHMS="HS256"

NATS_URL="nats://localhost:4222"

USER_SERVICE_URL="http://127.0.0.1:8001"
GATEWAY_PORT=8000
